<h1>This is the landing page</h1>

<h3>Recently added products:</h3>
<% @recent_products.each do |product| %>
  <%= link_to product.name, product_path(product) %>
<% end %>

<h3>Most Reviewed:</h3>
<%= link_to @most_reviewed.name, product_path(@most_reviewed) %>
